Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.uasset
*.xlsx
*.tps
*.png
*.ttf
*.bin
*.uplugin
*.dll
Content/StarterContent/Maps/StarterMap.umap
*.bmp
*.css
*.html
*.psd
*.woff2
